{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container container_width main_bg_color">
        <form id="calculateForm" class="pt-3 mt-3">
            <div id="myAlert" class="alert alert-danger hide_element">
                <strong>Pincode is Invalid!! Please enter correct Pincode.</strong>
            </div>

            <div class="form-row form-group">
                <div class="col">
                    <label for="pincode">Pincode:</label>
                    <input type="tel" minlength="6" maxlength="6" id="pincode" class="form-control" required />
                </div>
                <div class="col">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" class="form-control" required />
                </div>
            </div>

            <div class="form-group text-danger">
                <div id="is_ODA" class="hide_element">
                    <button id="ODA_charge" tabindex="-1" class="font-weight-bold btn btn-outline-danger non_clickable">ODA</button>
                    <span class="font-weight-light"> *Pincode Out of Delivery Area.</span>
                </div>
            </div>

            
            <div id="minimum_weightField">
                <!-- Input fields will be added dynamically here based on the quantity value -->
            </div>
            
            <div id="dynamicInputFields">
                <!-- Input fields will be added dynamically here based on the quantity value -->
            </div>

            <div id="dynamicWeightByDimensionField">
                <!-- Input fields will be added dynamically here based on the quantity value -->
            </div>

            <div id="resultDiv" class="pb-3 text-center justify-content-center hide_element rounded">
                <span class="font-weight-bold">Final Charge:</span>
                <span id="finalAmount"></span>
            </div>

            <div class="col-xs-12 form-group pb-3">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                    <a href="/place_order" class="hide_element" id="place_order_button">
                        <button type="button" class="btn btn-primary">Place Order</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js_script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
