/* Add custom styles to the datatable */

header, footer {
    /* opacity: 0.3; */
    background-color: #708090;
}

.is-oda-true {
    background-color: rgb(210, 88, 88);
    color: white;
}

.is-oda-false {
    background-color: rgb(100, 185, 134);
    color: white;
}

th {
    background-color: rgb(145, 184, 184);
}

td {
    border: 0.5px solid white;
}

tr.is-filtered {
    background-color: #f0f0f0;
}

.table-responsive td {
    white-space: nowrap;
}

.table-responsive .table {
    width: 100%;
    max-width: 100%;
}

.sender-column {
    background-color: lightblue; /* Change the color to your preferred color */
}

.receiver-column {
    background-color: lightpink; /* Change the color to your preferred color */
}

.total-amount-column {
    background-color: rgb(5, 248, 5); /* Change the color to your preferred color */
    font-weight: bold;
}